<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".AdminProfile"></activity>
        <activity android:name=".HerbalistProfile" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".herbalist" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".herbalist" />
        <activity android:name=".gallery_recycler" />
        <activity android:name=".update_plant" />
        <activity android:name=".Terms_Condition" />
        <activity android:name=".privacy_policy" />
        <activity
            android:name=".change_password"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".settings" />
        <activity android:name=".ViewConfirm" />
        <activity android:name=".confirm_list" />
        <activity android:name=".view_plant" />
        <activity android:name=".search" />
        <activity android:name=".forget_password" />
        <activity android:name=".add_plant"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Edit_userprofile" />
        <activity android:name=".user_account" />
        <activity android:name=".home" />
        <activity android:name=".sign_up" />
        <activity android:name=".sign_in" />
        <activity android:name=".searchable">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/activity_searchable" />
        </activity>
        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>